<div id="notification-content">
    <% for (let i=0; i < orderDate.length; i++) { %>
        <a href="/member/order/<%= orderDate[i].order_id %>" class="text-black">
            <div class="individual-notification container">
                <h5><b>訂單通知</b></h5>
                <br>
                <p>已收到你的訂單 <%= orderDate[i].order_id %>
                </p>
                <span><i class="bi bi-clock"></i>
                    <%= orderDate[i].order_date %>
                </span>
            </div>
        </a>
        <% } %>
</div>