@charset "UTF-8";
:root {
  --color_1: #fff;
  --color_2: #f2f2f2;
  --color_3: #ccc;
  --color_4: #a5a5a5;
  --color_5: #808180;
  --color_6: #000;
}
:root:has(#mode:checked) {
  --color_1: #222;
  --color_2: #333;
  --color_3: #555;
  --color_4: #666;
  --color_5: #777;
  --color_6: #eee;
}

section.member.container > div.content > form > div.submit > div, section.member.container > div.content > form > div.submit, section.member.container > div.content > div, section.member.container > div.content, section.member.container > div.subtitle > div.group, section.member.container div.memberList ul, main, div.pages .page {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.pages .page, .collapse, textarea, select option, select, input[type=checkbox] + label,
input[type=radio] + label, input[type=text],
input[type=email],
input[type=password], input, a {
  border-radius: 10px;
}

section.member.container > div.subtitle {
  border-radius: 10px 10px 0 0;
}

section.member.container > div.content {
  border-radius: 0 0 10px 10px;
}

section.member.container > div.content .collapse tr:not(tr:last-child), section.member.container > div.content div.table table tr.underLine {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: var(--color_5);
}

section.member.container > div.content div.table table table th,
section.member.container > div.content div.table table table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color: var(--color_6);
  font-size: 15px;
  font-family: "Noto Sans TC", sans-serif;
}

h1 {
  font-size: 43px;
  line-height: 60px;
}

h2 {
  font-size: 35px;
  line-height: 48px;
}

h3 {
  font-size: 31px;
  line-height: 48px;
}

h4 {
  font-size: 27px;
  line-height: 36px;
}

h5 {
  font-size: 23px;
  line-height: 36px;
}

h6 {
  font-size: 19px;
  line-height: 24px;
}

label,
input,
p {
  font-size: 19px;
  line-height: 24px;
}

span {
  font-size: inherit;
  line-height: inherit;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 39px;
    line-height: 48px;
  }
  h2 {
    font-size: 31px;
    line-height: 48px;
  }
  h3 {
    font-size: 27px;
    line-height: 36px;
  }
  h4 {
    font-size: 23px;
    line-height: 36px;
  }
  h5 {
    font-size: 19px;
    line-height: 24px;
  }
  h6 {
    font-size: 15px;
    line-height: 24px;
  }
  p,
  label,
  input {
    font-size: 15px;
    line-height: 24px;
  }
}
a {
  text-decoration: none;
}
a:link, a:visited, a:hover, a:focus, a:active {
  color: inherit;
}

input {
  position: relative;
  transition: 0.5s;
  font-size: 19px;
  line-height: 24px;
}
input::-moz-placeholder {
  font-size: 15px;
  line-height: 24px;
}
input::placeholder {
  font-size: 15px;
  line-height: 24px;
}
input.input-L {
  width: 20em;
}
@media all and (max-width: 768px) {
  input.input-L {
    width: 100%;
  }
}
input.input-M {
  width: 6em;
  text-align: center;
  margin-right: 1em;
}
input.input-S {
  width: 4em;
  text-align: center;
  margin-right: 1em;
}
@media all and (max-width: 576px) {
  input.input-S {
    margin-right: 0.25em;
  }
}

label {
  position: relative;
}

input[type=text],
input[type=email],
input[type=password] {
  padding: 0.5em 0.75em;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color_4);
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-width: 1px;
  border-style: solid;
  border-color: var(--color_6);
}

input[type=radio] + label {
  border-radius: 1em;
  cursor: pointer;
}
input[type=radio] + label:before {
  border-radius: 100%;
}

input[type=checkbox] + label {
  cursor: pointer;
}
input[type=checkbox] + label:before {
  border-radius: 3px;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}
input[type=checkbox] + label,
input[type=radio] + label {
  padding: 0.25em 1em 0.25em 2.5em;
  background-color: transparent;
  transition: 0.25s;
}
input[type=checkbox] + label::before,
input[type=radio] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  background-color: var(--color_1);
  transform: translate(0, -50%) scale(0.5);
  box-shadow: 0 0 0 4px var(--color_1), 0 0 0 8px var(--color_5);
  transition-duration: 0.1s;
  transition-delay: 0.15s;
}
input[type=checkbox]:checked + label,
input[type=radio]:checked + label {
  background-color: var(--color_3);
}
input[type=checkbox]:checked + label::before,
input[type=radio]:checked + label::before {
  background-color: var(--color_4);
}

input[type=button],
input[type=submit],
input[type=reset],
button,
.button {
  max-width: 100%;
  padding: 0.5em 5em;
  text-align: justify;
  color: var(--color_2);
  word-spacing: 1.5em;
  background-color: var(--color_6);
  border-color: transparent;
  outline: 0px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  cursor: pointer;
}
input[type=button].button-S,
input[type=submit].button-S,
input[type=reset].button-S,
button.button-S,
.button.button-S {
  word-spacing: 0.5em;
  padding: 0.2em 2em;
  margin: 0 1em;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover,
.button:hover {
  color: var(--color_1);
  background-color: var(--color_5);
}
input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
button:active,
.button:active {
  color: var(--color_6);
  background-color: var(--color_1);
  border-color: var(--color_6);
}
@media all and (max-width: 768px) {
  input[type=button],
  input[type=submit],
  input[type=reset],
  button,
  .button {
    word-spacing: 0.5em;
    padding: 0.5em 1em;
  }
}

select {
  padding: 0.5em 0.5em;
  border-color: var(--color_5);
  font-size: 19px;
  line-height: 24px;
}
select option {
  font-size: 19px;
  line-height: 24px;
}

textarea {
  width: 100%;
  padding: 1em 1em;
  font-size: 19px;
  line-height: 24px;
  resize: none;
}

input[type=file] {
  display: none;
}
input[type=file] + label > img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-style: soild;
  border-color: var(--color_6);
  border-width: 1px;
}

.collapse {
  margin: 0 auto;
  width: 960px;
  max-width: 95%;
  border: 1px solid var(--color_5);
  overflow: hidden;
}
.collapse div:first-child {
  position: relative;
  padding: 18px 24px;
  background-color: var(--color_2);
}
.collapse div:first-child:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 2em;
  top: 0;
  display: block;
  width: 2em;
  height: 100%;
  transition: 0.3s;
}
.collapse div:last-child {
  display: block;
  padding: 0 75px;
  max-height: 0px;
  background-color: var(--color_1);
  transition: 0.3s;
}
.collapse.active div:first-child:after {
  transform: rotate(180deg);
}
.collapse.active div:last-child {
  display: block;
  padding: 18px 24px;
  max-height: 960px;
}

#mode + label {
  position: relative;
  display: block;
  width: 75px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 2px;
  border-radius: 35px;
  background-color: var(--color_5);
  transition: 0.2s;
}
#mode + label > span {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
  border-radius: 35px;
  background-color: var(--color_1);
  transition: 0.2s;
}
#mode + label:before {
  content: "☽";
  left: 5px;
  opacity: 0;
}
#mode + label:after {
  content: "☼";
  right: 5px;
  opacity: 1;
}
#mode + label:after, #mode + label::before {
  position: absolute;
  top: 0;
  width: 1em;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: none;
  background: none;
  transform: none;
  transition: none;
}
#mode:checked + label:before {
  opacity: 1;
}
#mode:checked + label:after {
  opacity: 0;
}
#mode:checked + label > span {
  left: 40px;
}

div.pages {
  display: flex;
  padding: 1.5em 0;
}
div.pages .page {
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em;
  color: var(--color_1);
  background-color: var(--color_5);
}

body {
  background-color: var(--color_2);
  background-image: linear-gradient(0deg, rgba(145, 75, 0, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(145, 75, 0, 0.05) 1px, transparent 0), linear-gradient(0deg, rgba(100, 50, 0, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(100, 50, 0, 0.05) 1px, transparent 0), linear-gradient(0deg, rgba(0, 0, 0, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 0);
  background-size: 10px 10px, 10px 10px, 100px 100px, 100px 100px, 300px 300px, 300px 300px;
}
body:has(#mode:checked) {
  background-image: linear-gradient(0deg, rgba(100, 128, 128, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(100, 128, 128, 0.05) 1px, transparent 0), linear-gradient(0deg, rgba(100, 200, 255, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(100, 200, 255, 0.05) 1px, transparent 0), linear-gradient(0deg, rgba(255, 255, 255, 0.05) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 0);
  background-size: 10px 10px, 10px 10px, 100px 100px, 100px 100px, 300px 300px, 300px 300px;
}

main {
  padding: 96px 0;
}

.alert {
  color: red;
}

section.member.container {
  width: 95%;
}
section.member.container.container-L {
  max-width: 1200px;
}
section.member.container.container-L > div.content > form {
  max-width: 960px;
}
section.member.container.container-S {
  max-width: 960px;
}
section.member.container.container-S > div.content > form {
  max-width: 640px;
}
section.member.container div.memberList {
  padding: 1.5em 0;
}
section.member.container div.memberList ul {
  flex-wrap: wrap;
  row-gap: 12px;
  list-style: none;
}
section.member.container div.memberList li {
  margin: 0 auto;
  color: var(--color_5);
}
section.member.container div.memberList li a {
  display: inline-block;
  width: 100%;
  font-size: 23px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}
section.member.container div.memberList li.active {
  color: var(--color_6);
}
section.member.container div.memberList li:hover {
  filter: drop-shadow(0 0 15px var(--color_5));
}
@media all and (max-width: 768px) {
  section.member.container div.memberList li {
    display: inline-block;
    width: 33%;
  }
}
@media all and (max-width: 576px) {
  section.member.container div.memberList li {
    width: 50%;
  }
}
section.member.container > div.subtitle {
  padding: 24px 36px;
  background-color: var(--color_5);
  filter: drop-shadow(1em 1em 0px var(--color_3));
}
section.member.container > div.subtitle > div.group {
  color: var(--color_1);
}
@media all and (max-width: 768px) {
  section.member.container > div.subtitle > div.group {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
section.member.container > div.subtitle > div.group a {
  color: var(--color_3);
  padding: 0 1.5em;
  letter-spacing: 1.25em;
}
section.member.container > div.subtitle > div.group a.active {
  color: var(--color_1);
}
section.member.container > div.subtitle > div.group.group-left {
  justify-content: start;
  gap: 1em;
}
section.member.container > div.subtitle > div.group.group-left h5 {
  letter-spacing: 0.25em;
}
section.member.container > div.content {
  background-color: var(--color_1);
  padding: 36px 48px;
  flex-wrap: wrap;
  filter: drop-shadow(1em 1em 0px var(--color_3));
}
@media all and (max-width: 768px) {
  section.member.container > div.content {
    padding: 36px 12px;
  }
}
section.member.container > div.content > div {
  padding: 2em 0;
  width: 100%;
  gap: 1em;
}
section.member.container > div.content > form {
  width: 95%;
  display: inherit;
  flex-direction: column;
  gap: 36px;
}
@media all and (max-width: 768px) {
  section.member.container > div.content > form > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
section.member.container > div.content > form > div div {
  display: inline-block;
}
section.member.container > div.content > form > div label {
  margin-right: 1em;
  letter-spacing: 0.2em;
}
@media all and (max-width: 768px) {
  section.member.container > div.content > form > div label {
    display: inline-block;
    margin-right: 0.5em;
  }
}
section.member.container > div.content > form > div a {
  margin: 0 1em;
  text-decoration: underline;
}
@media all and (max-width: 768px) {
  section.member.container > div.content > form > div a {
    margin: 0 0.2em;
  }
}
section.member.container > div.content > form > div.submit {
  padding: 36px 0;
}
section.member.container > div.content > form > div.submit > div {
  flex-wrap: wrap;
  row-gap: 12px;
}
section.member.container > div.content > form > div.spacing label {
  margin-right: 2em;
  letter-spacing: 1em;
}
section.member.container > div.content > form > div.photoFrame {
  position: fixed;
  right: 4.5em;
}
section.member.container > div.content > form > div.photoFrame > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.member.container > div.content > form > div.photoFrame > label > img {
  border-style: solid;
  border-color: var(--color_5);
  border-width: 1px;
}
@media all and (max-width: 992px) {
  section.member.container > div.content > form > div.photoFrame {
    position: initial;
  }
}
section.member.container > div.content > form.center {
  align-items: center;
}
section.member.container > div.content div.table {
  display: flex;
  overflow-x: auto;
  justify-content: flex-start;
}
section.member.container > div.content div.table table {
  table-layout: fixed;
  width: 100%;
  min-width: 960px;
  border-collapse: collapse;
}
section.member.container > div.content div.table table th,
section.member.container > div.content div.table table td {
  padding: 24px 12px;
  font-size: 19px;
  line-height: 24px;
  text-align: center;
}
section.member.container > div.content div.table table p {
  text-align: justify;
}
section.member.container > div.content div.table table table {
  margin: 0 auto;
  width: 90%;
}
section.member.container > div.content div.table table table th,
section.member.container > div.content div.table table table td {
  padding: 12px 12px;
}
section.member.container > div.content div.table table img {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
section.member.container > div.content .collapse th,
section.member.container > div.content .collapse td {
  padding: 12px 0;
  font-size: 15px;
  line-height: 24px;
}
section.member.container > div.content .stars {
  display: flex;
  flex-direction: row !important;
  width: 2em;
  height: 2em;
}
section.member.container > div.content #memberId {
  display: inline-block;
  color: var(--color_5);
}
section.member.container > div.content #memberId:before {
  content: "會員編號";
  margin: 0 1em;
}
@media all and (max-width: 768px) {
  section.member.container > div.content #memberId:before {
    padding: 1em 0;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */